main{
    background-color: black;
}
.detail__img img{
    width: 100%;
    height: 400px;
    
}
.detail__section__history{
    color: white;
    text-align: center;
    
}
.detail__section__div__text{
    width: 90%;
}