<main *ngIf="champion.length > 0">
  <div class="detail__img">
    <img
      [src]="'https://ddragon.leagueoflegends.com/cdn/14.23.1/img/champion/' + champion[0].id + '.png'"
      alt="{{ champion[0].name }}"
    />
  </div>

  <section class="detail__section__history">
    <h1 class="detail__nameChamp">{{ champion[0].name }}</h1>

    <div class="detail__section__div__history">
      <h4 class="detail__section__div__title" [ngStyle]="{ color: 'black' }">
        Historia
      </h4>
      <p class="detail__section__div__text">{{ champion[0].lore }}</p>
    </div>
  </section>
</main>
