<main>
  <div id="filter">
    <p>Ordenar por</p>
    <select name="" id="">
      <option value="">Nombre</option>
      <option value="">Región</option>
    </select>
  </div>
  <div id="content">
    <div id="champs" *ngFor="let champ of champs; let i = index">
      <div>
        <img
          src="https://raw.communitydragon.org/latest/game/assets/characters/aatrox/hud/aatrox_square.png"
          alt=""
        />
        <span>{{ champ.name }}</span>
      </div>
    </div>
  </div>
</main>
