<main>
  <div id="filter">
    <p>Ordenar por</p>
    <select name="" id="">
      <option value="">Nombre</option>
      <option value="">Mana</option>
      <option value="">Energia</option>
    </select>
  </div>
  <div id="content">
    <div id="champs" *ngFor="let champ of champs; let i = index">
      <div (click)="goToDetail(champ.id)">
        <img
          src="https://ddragon.leagueoflegends.com/cdn/14.23.1/img/champion/{{
            champ.id
          }}.png"
          alt=""
        />
        <span>{{ champ.name }}</span>
      </div>
    </div>
  </div>
</main>
