<main>
    <div id="filter">
      <p>Ordenar por</p>
      <select name="" id="">
        <option value="">Nombre</option>
        <option value="">Región</option>
      </select>
    </div>
    <div id="content">
      <div id="champs">
        <div>
          <img
            src="https://raw.communitydragon.org/latest/game/assets/characters/aatrox/hud/aatrox_square.png"
            alt=""
          />
          <span>Aatrox</span>
        </div>
        <div>
          <img
            src="https://raw.communitydragon.org/latest/game/assets/characters/annie/hud/annie_square.png"
            alt=""
          />
          <span>Annie</span>
        </div>
        <div>
          <img
            src="https://raw.communitydragon.org/latest/game/assets/characters/kled/hud/kled_square_0.png"
            alt=""
          />
          <span>Kled</span>
        </div>
        <div>
          <img
            src="https://raw.communitydragon.org/latest/game/assets/characters/ornn/hud/ornn_square.png"
            alt=""
          />
          <span>Ornn</span>
        </div>
        <div>
          <img
            src="https://raw.communitydragon.org/latest/game/assets/characters/irelia/hud/irelia_square_0.png"
            alt=""
          />
          <span>Irelia</span>
        </div>
        <div>
          <img
            src="https://raw.communitydragon.org/latest/game/assets/characters/renekton/hud/renekton_square_0.png"
            alt=""
          />
          <span>Renekton</span>
        </div>
      </div>
    </div>
  </main>